version: '3.9'
services:
  zipkin-server:
    image: openzipkin/zipkin:2.23.2
    ports:
      - 9411:9411
    restart: always
    depends_on:
      - rabbit-mq
    environment:
      RABBIT_URI: amqp://guest:guest@rabbit-mq:5672
    networks:
      - streaming-network

  rabbit-mq:
    image: rabbitmq:3.11.4-management
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - streaming-network

  audiovisual-db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=movies
    ports:
      - 3306:3306
    expose:
      - 3306
    networks:
      - streaming-network

  streaming-db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=streaming
    ports:
      - 3310:3310
    expose:
      - 3310
    networks:
      - streaming-network

  naming-server:
    image: humbertobonadiman/naming-server:0.0.1-SNAPSHOT
    ports:
      - 8761:8761
    networks:
      - streaming-network

  api-gateway:
    image: humbertobonadiman/api-gateway:0.0.1-SNAPSHOT
    ports:
      - 8765:8765
    depends_on:
      - naming-server
      - rabbit-mq
    environment:
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
    networks:
      - streaming-network

  movies-service:
    restart: always
    build:
      context: .
      dockerfile: movies-service/Dockerfile
    environment:
      TZ: America/Sao_Paulo
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      SPRING.ZIPKIN.BASEURL: http://zipkin-server:9411/
      RABBIT_URI: amqp://guest:guest@rabbit-mq:5672
      SPRING_RABBITMQ_HOST: rabbit-mq
      SPRING_ZIPKIN_SENDER_TYPE: rabbit
      SPRING.APPLICATION.NAME: movies-service
      SPRING.DATASOURCE.URL: jdbc:mysql://movies-db:3306/movies?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: 1234
      SPRING.FLYWAY.URL: jdbc:mysql://movies-db:3306/movies?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.FLYWAY.USER: root
      SPRING.FLYWAY.PASSWORD: 1234
    ports:
      - 8081:8081
    depends_on:
      - naming-server
      - audiovisual-db
      - rabbit-mq
    networks:
      - streaming-network

  series-service:
    restart: always
    build:
      context: .
      dockerfile: series-service/Dockerfile
    environment:
      TZ: America/Sao_Paulo
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      SPRING.ZIPKIN.BASEURL: http://zipkin-server:9411/
      RABBIT_URI: amqp://guest:guest@rabbit-mq:5672
      SPRING_RABBITMQ_HOST: rabbit-mq
      SPRING_ZIPKIN_SENDER_TYPE: rabbit
      SPRING.APPLICATION.NAME: series-service
      SPRING.DATASOURCE.URL: jdbc:mysql://series-db:3306/series?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: 1234
      SPRING.FLYWAY.URL: jdbc:mysql://series-db:3306/series?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.FLYWAY.USER: root
      SPRING.FLYWAY.PASSWORD: 1234
    ports:
      - 8180:8180
    depends_on:
      - naming-server
      - audiovisual-db
      - rabbit-mq
    networks:
      - streaming-network

  streaming-service:
    restart: always
    build:
      context: .
      dockerfile: streaming-service/Dockerfile
    environment:
      TZ: America/Sao_Paulo
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      SPRING.ZIPKIN.BASEURL: http://zipkin-server:9411/
      RABBIT_URI: amqp://guest:guest@rabbit-mq:5672
      SPRING_RABBITMQ_HOST: rabbit-mq
      SPRING_ZIPKIN_SENDER_TYPE: rabbit
      SPRING.APPLICATION.NAME: streaming-service
      SPRING.DATASOURCE.URL: jdbc:mysql://streaming-db:3310/streaming?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.DATASOURCE.USERNAME: root
      SPRING.DATASOURCE.PASSWORD: 1234
      SPRING.FLYWAY.URL: jdbc:mysql://streaming-db:3310/streaming?useSSL=false&serverTimezone=UTC&enabledTLSProtocols=TLSv1.2&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING.FLYWAY.USER: root
      SPRING.FLYWAY.PASSWORD: 1234
    ports:
      - 8000:8000
    depends_on:
      - naming-server
      - streaming-db
      - rabbit-mq
    networks:
      - streaming-network

networks:
  streaming-network:
    driver: bridge
