server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: movies-service
  data:
    mongodb:
      primary:
        host: localhost
        port: 27017
        database: movies
  sleuth:
    sampler:
      probability: 1.0
springdoc:
  show-actuator: true
  api-docs:
    path: movies-service/v3/api-docs