server:
  port: 8000
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: streaming-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: streaming
  sleuth:
    sampler:
      probability: 1.0
springdoc:
  show-actuator: true
  api-docs:
    path: streaming-service/v3/api-docs